* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
  padding: 40px;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  border-radius: 10px;
  border: 2px solid navy;
  box-shadow: 5px 7px 5px black;
}

h1 {
  color: #1e3a8a;
  padding: 10px;
}

ul {
  padding: 15px;
  padding-left: 25px;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  font-size: 20px;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
  transition: 0.2s ease;
}

a:hover {
  color: #2563eb;
  transform: translateX(20px) scale(1.2);
}
