* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 6px;
  background-color: blue;
}

li {
  padding: 12px;
  color: antiquewhite;
}

ul li a{
  color: antiquewhite;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

a:hover{
  color: limegreen;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  transform: scale(1);
  transition: .1s ease-in-out;
}

body{
  background-color:cadetblue;
}
.container {
  padding: 10px;
}

.heading{
  background-color: darkblue;
  color: white;
  padding: 10px;
}

h2 {
  display: inline;
  padding: 5px;
  background-color: lightslategray;
}

p{
  margin: 10px 0;
  padding: 10px;
  font-size: larger;
  /* list-style: disc; */
}

/* h2{
  background-color: aqua;
  padding: 5px;
  margin: 5px 0;
} */

.images{
  margin: 15px 0px;
  background-color: darkblue;
  padding: 20px;
}

.images h2{
  display: inline-block;
  color: white;
  margin-bottom: 12px;
}

.img{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.img img{
  width: 230px;
  height: 140px;
  object-fit: cover;
  flex-shrink: 0;
  height: auto;
}

.center{
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.features {
  background-color: darkblue;
  color: white;
  padding: 10px 10px;
  margin: 10px 0px;
}

ol{
  list-style: disclosure-closed;
  margin: 10px 15px;
}

ol li{
  color: white;
}

.end{
  background-color: darkblue;
  color: white;
  padding: 10px;
}

button {
  display: block;
  height: 27px;
  width: 90px;
  margin: 5px 0px 5px 0px;
  background-color: darkblue;
  border-radius: 5px;
  color: seashell;
}

button:hover {
  background-color:aliceblue;
  color:blue;
  cursor: pointer;
  transform: scale(1.1);
  transition: .1s ease-in-out;
}

footer{
  background-color: teal;
  color: snow;
  padding: 10px;
  font-family: 'Iosevka Charon', monospace;
  text-align: center;
  font-size: large;
  font-style: italic;
}

@media (max-width:768px){
  ul{
    flex-direction: row;
    align-items: flex-start;
  }

  h2{
    font-size: large;
  }

  p{
    font-size: large;
  }

  button{
    width: 100%;
    max-width: 120px;
  }

  .heading, .center, .features, .end{
    text-align: justify;
  }
}
